[discord]
owner_id = "123456789"
use_discord = "1"
client_id = "123456789"
token = "123456789"
name = "TaeJa"
playing = "Starcraft II"
trigger = "~"
redirect_url = "http://example.com/TaeJa"
auto_reconnect = "1"
verbose = "1"
learn = "0"

[database]
username = "12345"
password = "67890"
host = "localhost"
database = "dbname"

[battlenet_api]
access_code = "34123516712356223451"

[bot_path]
root = "/var/www/html/TaeJa"
url = "http://example.com/TaeJa"

[servers]
ConFed = "199730784393756672"
TestTag = "299216024425988096"

[servers_bot_announcements]
ConFed = "344553753636241418"
TestTag = "468595442549129218"